In [1]:
import pandas as pd

In [25]:
#importing data in dataset
df=pd.read_csv('drivertrainlabeled.csv')
df

       Driver_ID  Distance_Feature  Speeding_Feature Driving_Class
0     3423310448             53.76                 9       Average
1     3423310449             51.86                 4       Average
2     3423310450             51.59                 4       Average
3     3423310451            168.90                 5          Good
4     3423310452             53.50                 5       Average
...          ...               ...               ...           ...
3595  3423314442            140.25                92           Bad
3596  3423314443            156.38                 6          Good
3597  3423314444             51.59                 6       Average
3598  3423314445             51.73                 3       Average
3599  3423314447            201.12                19          Good

[3600 rows x 4 columns]

In [26]:
df['Driving_Class'].replace({'Good':0, 'Average':1, 'Bad':2},inplace=True)
df.head(1)

    Driver_ID  Distance_Feature  Speeding_Feature  Driving_Class
0  3423310448             53.76                 9              1

In [27]:
#dividing dataframe into input and output values
dfinput= df.iloc[:,[1,2]]
dfoutput=df['Driving_Class']

In [28]:
#being the case of classification and both the input variables are numeric, we can go for KNN algo for creating model
from sklearn.neighbors import KNeighborsClassifier

In [29]:
#Task-1
#initailizing model
knn=KNeighborsClassifier()
#training model
knn.fit(dfinput,dfoutput)
#evaluting model
knn.score(dfinput,dfoutput)

0.9997222222222222

In [30]:
#getting predicted values to get confusion matrix for future evalution if need, not mendatory
df['Pre_Driving_Class']=knn.predict(dfinput)
df.head()

,Driver_ID,Distance_Feature,Speeding_Feature,Driving_Class,Pre_Driving_Class
0,3423310448,53.76,9,1,1
1,3423310449,51.86,4,1,1
2,3423310450,51.59,4,1,1
3,3423310451,168.90,5,0,0
4,3423310452,53.50,5,1,1

In [31]:
actual=df['Driving_Class']
predicted=df['Pre_Driving_Class']

In [32]:
from sklearn.metrics import classification_report

In [33]:
print(classification_report(actual,predicted))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       625
           1       1.00      1.00      1.00      2880
           2       0.99      1.00      0.99        95

    accuracy                           1.00      3600
   macro avg       1.00      1.00      1.00      3600
weighted avg       1.00      1.00      1.00      3600

In [34]:
#creating new dataframe for predicting values
df1=pd.read_csv('drivertestunlabeled.csv')
df1

      Driver_ID  Distance_Feature  Speeding_Feature  Driving_Class
0    3423310949             55.54                 5              1
1    3423313566             60.44                 3              1
2    3423310676             42.54                 3              1
3    3423313327            192.21                 8              0
4    3423311668             61.31                 4              1
..          ...               ...               ...            ...
395  3423313761            184.94                11              0
396  3423314396            165.23                57              2
397  3423314389             54.99                36              1
398  3423311270             63.20                 7              1
399  3423311238             48.66                 4              1

[400 rows x 4 columns]

In [35]:
df1['Driving_Class']=knn.predict(df1.iloc[:,[1,2]])
df1

      Driver_ID  Distance_Feature  Speeding_Feature  Driving_Class
0    3423310949             55.54                 5              1
1    3423313566             60.44                 3              1
2    3423310676             42.54                 3              1
3    3423313327            192.21                 8              0
4    3423311668             61.31                 4              1
..          ...               ...               ...            ...
395  3423313761            184.94                11              0
396  3423314396            165.23                57              2
397  3423314389             54.99                36              1
398  3423311270             63.20                 7              1
399  3423311238             48.66                 4              1

[400 rows x 4 columns]

In [36]:
df2 = pd.read_csv('drivertestlabeled.csv')
df2

      Driver_ID  Distance_Feature  Speeding_Feature  Driving_Class
0    3423310949             55.54                 5              1
1    3423313566             60.44                 3              1
2    3423310676             42.54                 3              1
3    3423313327            192.21                 8              0
4    3423311668             61.31                 4              1
..          ...               ...               ...            ...
395  3423313761            184.94                11              0
396  3423314396            165.23                57              2
397  3423314389             54.99                36              1
398  3423311270             63.20                 7              1
399  3423311238             48.66                 4              1

[400 rows x 4 columns]

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
accuracy = accuracy_score(df2['Driving_Class'], df1['Driving_Class'])
print(accuracy)

1.0

In [40]:
print(df2['Driving_Class'])

0      1
1      1
2      1
3      0
4      1
      ..
395    0
396    2
397    1
398    1
399    1
Name: Driving_Class, Length: 400, dtype: int64

In [42]:
for i in df2['Driving_Class']:
    print(i, end="")

1110111111011011010011121101111111111111011101100111001101110011111111101011101011111111100011110100110111111111110111111111101111111101111111111100111001010111112101111110111110111100111111111111111110100110100111111012110100111111111111111121011111111101111111111110111112111101111111111111111101111110011210111001111011100121111111111111111011111121111111101111111111111111110110111110111011102111